body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.text-color {
  color: white;
}
.half-width {
  width: 50%;
  padding: 2%;
}
.half-width img {
  width: 80%;
}
#img-circle {
  border-radius: 50%;
}

.orange-color {
  color: rgb(247, 164, 10);
}
.button-color {
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  background-image: linear-gradient(orange, red);
  color: white;
  font-weight: 400;
}

.top-banner {
  background-image: url(bac.png);
}
.middle-banner {
  background-image: url(middle-banner.jfif);
}
.experiance-item {
  padding: 10px;
  box-shadow: 10px 10px 30px gray;
}
.experiance-area {
  width: 24%;
  margin-left: 2%;

  padding: 20px;
}
nav {
  text-align: end;
  background-color: #da2390;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  line-height: 40px;
}
nav a:hover {
  background-color: #fc427b;
}
footer p {
  text-align: center;
  color: red;
}
